<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086612450079-npalu78fqanpu20u99lsiut0jaqrqpef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086612450079-npalu78fqanpu20u99lsiut0jaqrqpef</string>
	<key>API_KEY</key>
	<string>AIzaSyDzfcIdYI5vhVzKQrgE2gcYqk1UD0PCAGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1086612450079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alexey-Kirpichnikov.Meditat</string>
	<key>PROJECT_ID</key>
	<string>meditat-3a91c</string>
	<key>STORAGE_BUCKET</key>
	<string>meditat-3a91c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086612450079:ios:3d5cf9b23ef2d182ef1e2a</string>
</dict>
</plist>